$l:left;
$r:right;
$t:top;
$b:bottom;
@mixin float($lr:left) {
    float: $lr
}

@mixin color($c:#f22e00) {
    color: $c;
}

@mixin lineH($lh:35px) {
    line-height: $lh
}

@mixin w($w:1190px) {
    width: $w
}

@mixin h($h:35px) {
    height: $h
}

@mixin fontSize($fs:12px) {
    font-size: $fs
}

.search {
    background-color: #FFF;
    padding-top: 24px;
    @include h(97px);
    .search-warp {
        @include w(1190px);
        @include h(73px);
        margin: 0 auto;
        .logo {
            @include w(190px);
            @include h(80px);
            @include float;
            margin-top: 8px;
            h1 {
                position: relative;
                .logo-bd {
                    @include color(#3C3C3C);
                    display: block;
                    margin-#{$l}: 22px;
                    padding-#{$t}: 58px;
                    @include w(142px);
                    @include h(0px);
                    overflow: hidden;
                    text-indent: -9999px;
                    background: url(../img/logo.png) no-repeat 0 0;
                }
            }
        }
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    @include w(100%);
    @include h(100%);
    color: #3C3C3C;
    background: #fff;
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif
}

body a {
    color: #6C6C6C;
}

input {
    border: 0;
}

.detail {
    z-index: 99999999;
    position: relative;
    margin: 10px auto 0;
    width: 1140px;
    height: 570px;
    color: #3C3C3C;
    border: 1px solid #E8E8E8;
    .left-p {
        float: left;
        padding: 20px 0 20px 20px;
        width: 400px;
        position: relative;
        .pic-wrap {
            margin-bottom: 18px;
            width: 400px;
            overflow: hidden;
            a {
                float: left;
                width: 10px;
                height: 54px;
                border: 1px solid #ccc;
                text-decoration: none;
                line-height: 56px;
                text-align: center;
                background: #fff;
            }
            #left {
                position: absolute;
                left: 20px;
                bottom: 35px;
                z-index: 2;
                color: #fff;
            }
            #right {
                position: absolute;
                right: 0px;
                bottom: 35px;
                color: #333;
            }
            ul {
                float: left;
                margin-left: 30px;
            }
            .big-p {
                width: 400px;
                height: 400px;
                overflow: hidden;
                position: relative;
                margin-bottom: 15px;
                z-index: 1;
                img {
                    width: 100%;
                    height: 100%;
                }
                #sf {
                    width: 50px;
                    height: 50px;
                    background: orange;
                    opacity: 0.3;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    visibility: hidden;
                }
            }
            #bf {
                width: 398px;
                height: 398px;
                border: 1px solid #000;
                overflow: hidden;
                position: absolute;
                left: 423px;
                top: 20px;
                visibility: hidden;
                z-index: 10000;
                #bpic {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 800px;
                    height: 800px;
                }
            }
            .s-p li {
                float: left;
                margin-right: 9px;
                width: 50px;
                height: 50px;
                border: 2px solid #fff;
                img {
                    width: 50px;
                    height: 50px;
                    vertical-align: middle;
                }
            }
        }
    }
    .right-con {
        float: left;
        padding: 0 20px 20px 0;
        width: 498px;
        .content {
            padding-left: 18px;
            .title {
                min-height: 21px;
                font-size: 16px;
                font-weight: 700;
                line-height: 21px;
                color: #3C3C3C;
                padding: 20px 0 10px
            }
            .price-wrap {
                height: 50px;
                padding: 10px;
                background-color: #FFF2E8;
            }
            .price-wrap .j {
                margin-top: 10px;
                float: left;
                width: 60px;
                color: #6c6c6c;
            }
            .price-out {
                margin-top: 5px;
                margin-bottom: -5px;
                float: left;
                overflow: visible;
                line-height: 26px
            }
            .p-style {
                position: static;
                float: left;
                padding: 0;
                margin-right: 5px;
                vertical-align: baseline;
                font-size: 26px;
                font-weight: 700;
                font-family: Tahoma, Arial, Helvetica, sans-serif;
                color: #F40;
                .dol {
                    font-family: arial;
                    font-weight: 400;
                    margin-right: 4px;
                }
                .price {
                    font-family: verdana, arial;
                    font-style: normal;
                }
            }
            .amount {
                margin: 10px 0;
                height: 30px;
                .n {
                    float: left;
                    margin-right: 5px;
                    width: 55px;
                    color: #6C6C6C;
                }
                input {
                    float: left;
                    margin: 0;
                    padding: 0;
                    width: 48px;
                    height: 26px;
                    font-size: 16px;
                    line-height: 26px;
                    text-align: center;
                    color: #666;
                    border: 1px solid #CCC;
                    outline: 0;
                    background: #FFF;
                }
            }
            .buyAndadd {
                margin-top: 40px;
                height: 60px;
                .buy-btn {
                    margin-right: 9px;
                    float: left;
                    a {
                        color: #E5511D;
                        border-color: #F0CAB6;
                        background: #FFE4D0;
                    }
                }
                .add-btn {
                    float: left;
                    a {
                        width: 180px;
                        color: #FFF;
                        border-color: #F40;
                        background: #F40;
                    }
                }
                a {
                    display: block;
                    cursor: pointer;
                    width: 134px;
                    height: 38px;
                    text-align: center;
                    font-family: "Hiragino Sans GB", "microsoft yahei", sans-serif;
                    font-size: 16px;
                    line-height: 38px;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 2px;
                }
            }
        }
    }
}