$l:left;
$r:right;
$t:top;
$b:bottom;
@mixin float($lr:left) {
    float: $lr
}

@mixin color($c:#f22e00) {
    color: $c;
}

@mixin lineH($lh:35px) {
    line-height: $lh
}

@mixin w($w:1190px) {
    width: $w
}

@mixin h($h:35px) {
    height: $h
}

@mixin fontSize($fs:12px) {
    font-size: $fs
}

header {
    @include w;
    @include h;
    background: #f5f5f5;
    margin: 0 auto;
    .top-nav-l {
        @include float;
        .admin {
            display: none;
            position: relative;
            float: left;
            color: #6C6C6C;
            .admin-name {
                width: 60px;
                height: 35px;
                line-height: 35px;
                @include color;
                text-align: center;
            }
            div {
                float: left;
                text-align: center;
                line-height: 35px;
            }
            span {
                display: none;
                position: absolute;
                margin-#{$t}: -1px;
                #{$l}: 0px;
                #{$t}: 35px;
                background: #FFF;
                border: 1px solid #EEE;
                border-top: none;
                padding: 0 5px;
                line-height: 28px;
                white-space: nowrap;
                color: #6C6C6C;
                width: 50px;
                text-align: center;
                cursor: pointer;
            }
        }
        .region {
            margin-#{$l}: 5px;
            @include lineH;
            @include fontSize;
        }
        .login {
            @include color;
            margin-#{$l}: 10px;
        }
    }
    .top-nav-r {
        @include float(right);
    }
    .top-nav-menu:nth-of-type(1) {
        position: relative;
        .country {
            display: none;
            position: absolute;
            margin-#{$t}: -1px;
            padding: 8px 0;
            #{$l}: 0px;
            #{$t}: 36px;
            line-height: normal;
            border: 1px solid #EEE;
            background: #FFF;
            overflow-y: scroll;
            z-index: 20;
            max-height: 270px;
            li {
                @include w(242px);
                @include h(29px);
                @include lineH(29px);
                padding-#{$l}: 8px;
                cursor: pointer;
            }
            li:hover {
                background-color: #f4f4f4;
            }
        }
        .my {
            display: none;
            position: absolute;
            margin-#{$t}: -1px;
            #{$l}: 0px;
            #{$t}: 36px;
            background: #FFF;
            border: 1px solid #EEE;
            padding: 0 5px;
            line-height: 28px;
            white-space: nowrap;
            color: #6C6C6C;
            li:hover {
                background-color: #f4f4f4;
                cursor: pointer;
            }
        }
    }
    .top-nav-menu:nth-of-type(1):hover {
        background-color: #FFF;
        .country {
            display: block;
        }
        .my {
            display: block;
        }
    }
    .top-nav-menu:nth-of-type(3) {
        position: relative;
        .sc {
            display: none;
            position: absolute;
            margin-#{$t}: -1px;
            #{$l}: 0px;
            #{$t}: 36px;
            background: #FFF;
            border: 1px solid #EEE;
            padding: 0 5px;
            line-height: 28px;
            white-space: nowrap;
            color: #6C6C6C;
        }
        li:hover {
            background-color: #f4f4f4;
            cursor: pointer;
        }
    }
    .top-nav-menu:nth-of-type(3):hover {
        background-color: #FFF;
        .sc {
            display: block;
        }
    }
    .top-nav-menu:nth-of-type(6) {
        position: relative;
        .qianniu {
            display: none;
            position: absolute;
            margin-#{$t}: -1px;
            #{$l}: 0px;
            #{$t}: 36px;
            background: #FFF;
            border: 1px solid #EEE;
            padding: 0 5px;
            line-height: 28px;
            white-space: nowrap;
            color: #6C6C6C;
        }
        li:hover {
            background-color: #f4f4f4;
            cursor: pointer;
        }
    }
    .top-nav-menu:nth-of-type(6):hover {
        background-color: #FFF;
        .qianniu {
            display: block;
        }
    }
    .top-nav-menu:nth-of-type(7) {
        position: relative;
        .kf {
            display: none;
            position: absolute;
            margin-#{$t}: -1px;
            #{$l}: 0px;
            #{$t}: 36px;
            background: #FFF;
            border: 1px solid #EEE;
            padding: 0 5px;
            line-height: 28px;
            white-space: nowrap;
            color: #6C6C6C;
        }
        li:hover {
            background-color: #f4f4f4;
            cursor: pointer;
        }
    }
    .top-nav-menu:nth-of-type(7):hover {
        background-color: #FFF;
        .kf {
            display: block;
        }
    }
    .top-nav-menu:nth-of-type(8) {
        position: relative;
        .dh {
            display: none;
            z-index: 3;
            @include w(1180px);
            position: absolute;
            margin-#{$t}: -1px;
            #{$r}: 0px;
            background: #FFF;
            border: 1px solid #EEE;
            .dh-mod {
                @include float;
                @include w(24%);
                overflow: hidden;
                padding: 5px;
                border-right: 1px solid #eee;
                li {
                    @include w(24%);
                    @include h(25px);
                    @include float;
                    padding-#{$t}: 5px;
                    a {
                        @include float;
                        @include h(25px);
                        @include lineH(25px);
                        @include color( #3c3c3c);
                        margin: 0 2px;
                        padding: 0 8px;
                        border-radius: 2px;
                    }
                    a:hover {
                        background-color: #f50;
                        @include color(#fff);
                    }
                }
            }
            .dh-mod:nth-of-type(2) li,
            .dh-mod:nth-of-type(3) li {
                @include w(33%);
            }
            .dh-mod:nth-of-type(4) li {
                @include w(49%);
            }
            .title {
                margin: 5px;
                @include fontSize(16px);
                font-weight: 600;
            }
        }
    }
    .top-nav-menu:nth-of-type(8):hover {
        background-color: #FFF;
        .dh {
            display: block;
        }
    }
    .top-nav-menu {
        @include float;
        margin-#{$r}: 7px;
    }
    a {
        @include color(#6c6c6c);
        @include fontSize;
        @include lineH;
        padding-#{$r}: 6px;
    }
    li a:hover {
        @include color;
    }
}

@font-face {
    font-family: global-iconfont;
    src: url(../fonts/font_1404888168_2057645.woff) format("woff")
}

.site-nav-icon {
    font-family: global-iconfont;
    @include fontSize;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscaleFont type;
    margin-#{$r}: 5px;
    @include color(#9c9c9c);
}

.site-nav-icon-highlight {
    @include color(#f40);
}