$l:left;
$r:right;
@mixin float($lr:left) {
    float: $lr
}

@mixin color($c:#f22e00) {
    color: $c;
}

@mixin lineH($lh:35px) {
    line-height: $lh
}

@mixin w($w:1190px) {
    width: $w
}

@mixin h($h:35px) {
    height: $h
}

@mixin fontSize($fs:12px) {
    font-size: $fs
}

header {
    @include w;
    @include h;
    background: #f5f5f5;
    margin: 0 auto;
    .top-nav-l {
        @include float;
        .region {
            margin-#{$l}: 5px;
            @include lineH;
            @include fontSize;
        }
        .login {
            @include color;
            margin-#{$l}: 10px;
        }
    }
    .top-nav-r {
        @include float(right);
    }
    .top-nav-menu {
        @include float;
        margin-#{$r}: 7px;
    }
    a {
        @include color(#6c6c6c);
        @include fontSize;
        @include lineH;
        padding-#{$r}: 6px;
    }
    li a:hover {
        @include color;
    }
}

@font-face {
    font-family: global-iconfont;
    src: url(../fonts/font_1404888168_2057645.woff) format("woff")
}

.site-nav-icon {
    font-family: global-iconfont;
    @include fontSize;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscaleFont type;
    margin-#{$r}: 5px;
    @include color(#9c9c9c);
}

.site-nav-icon-highlight {
    @include color(#f40);
}