$l:left;
$r:right;
$t:top;
$b:bottom;
@mixin float($lr:left) {
    float: $lr
}

@mixin color($c:#f22e00) {
    color: $c;
}

@mixin lineH($lh:35px) {
    line-height: $lh
}

@mixin w($w:1190px) {
    width: $w
}

@mixin h($h:35px) {
    height: $h
}

@mixin fontSize($fs:12px) {
    font-size: $fs
}

section {
    @include w(1190px);
    @include h(522px);
    margin: 0 auto;
    .mian {
        @include w(900px);
        @include h(522px);
        @include float;
        .mian-inner {
            @include w(900px);
            @include h(522px);
            .inner-lf {
                @include w(188px);
                @include h(100%);
                border: 1px solid #f40;
                border-#{$t}: none;
                @include float;
                background-color: #fff;
                position: relative;
                li {
                    @include w(150px);
                    @include h(32px);
                    padding-#{$l}: 25px;
                    padding-#{$r}: 14px;
                    position: relative;
                    span {
                        display: inline-block;
                        @include w(5px);
                        @include h(8px);
                        position: absolute;
                        #{$r}: 5px;
                        #{$t}: 12px;
                        background: url('images/yjt.png') no-repeat;
                        background-size: 100% 100%;
                    }
                }
                li:hover {
                    background-color: #ffe4dc;
                }
                li:hover a {
                    @include color( #ff5000);
                }
                li a {
                    @include fontSize(14px);
                    font-weight: 400;
                    color: #666;
                    @include lineH(32px);
                    text-align: center;
                }
                .cartlist {
                    display: none;
                    position: absolute;
                    left: 188px;
                    top: 0;
                    padding: 0 0 0 18px;
                    width: 692px;
                    height: 518px;
                    border: 2px solid #F94A14;
                    box-shadow: 2px 2px 0 #dcdadb;
                    background-color: #FFF;
                    color: #333;
                    font-size: 12px;
                    z-index: 22;
                    .item-t {
                        display: none;
                    }
                    .zi {
                        padding-top: 10px;
                        width: 415px;
                        height: 490px;
                        overflow-x: hidden;
                        overflow-y: auto;
                        padding-right: 12px;
                        padding-left: 10px;
                        float: left;
                        .full {
                            @include w(100%);
                        }
                        .service-panel {
                            font-size: 12px;
                            margin-bottom: 5px;
                            width: 50%;
                            float: left;
                            h5 {
                                position: relative;
                                height: 34px;
                                line-height: 34px;
                                font-size: 16px;
                                color: #333;
                            }
                            p {
                                line-height: 26px;
                            }
                            p a {
                                color: #666;
                                display: inline-block;
                                margin-right: 12px;
                                white-space: nowrap;
                            }
                        }
                    }
                    .pic {
                        float: left;
                        width: 253px;
                        border-left: 1px solid #f4f4f4;
                        position: relative;
                        height: 498px;
                        padding-top: 20px;
                        h3 {
                            line-height: 18px;
                            color: #333;
                            font-size: 14px;
                            text-align: center;
                            font-weight: 400;
                        }
                        .list-like a {
                            display: block;
                            width: 97px;
                            height: 143px;
                            padding: 10px 0 0 20px;
                            overflow: hidden;
                            @include float;
                        }
                        .list-like .img-wrapper {
                            width: 97px;
                            height: 97px;
                            overflow: hidden;
                            img {
                                display: block;
                                width: 98px;
                                height: 97px;
                            }
                        }
                        .list-like h5 {
                            height: 26px;
                            line-height: 26px;
                            font-size: 12px;
                            overflow: hidden;
                            font-weight: 400;
                            color: #999;
                        }
                    }
                }
            }
            .inner-cer {
                @include w(520px);
                @include h(512px);
                @include float;
                margin: 10px 10px 0 10px;
                overflow: hidden;
                .pic-box {
                    @include w(520px);
                    @include h(280px);
                    overflow: hidden;
                    position: relative;
                    .lunbo {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        li {
                            @include float;
                            @include w(520px);
                        }
                    }
                    .arrow a {
                        display: none;
                        @include w(20px);
                        @include h(30px);
                        @include lineH(30px);
                        @include color(#fff);
                        position: absolute;
                        #{$t}: 50%;
                        background-color: rgba(0, 0, 0, .3);
                    }
                    .arrow a:hover {
                        background-color: rgba(0, 0, 0, .5);
                    }
                    .arrow-l {
                        border-#{$t}-#{$r}-radius: 15px;
                        border-#{$b}-#{$r}-radius: 15px;
                        background-clip: padding-box;
                        #{$l}: 0;
                        overflow: hidden;
                        display: none;
                        .l {
                            @include w(31.3px);
                            @include h(20px);
                            margin: 3px 0 0 -4px;
                            background: url(../img/lAndr.png) no-repeat;
                            background-size: 100% 100%;
                            background-position: 5px 1px;
                        }
                    }
                    .arrow-r {
                        border-#{$t}-#{$l}-radius: 15px;
                        border-#{$b}-#{$l}-radius: 15px;
                        background-clip: padding-box;
                        #{$r}: 0;
                        overflow: hidden;
                        display: none;
                        .r {
                            @include w(31.3px);
                            @include h(20px);
                            margin: 3px 0 0 -4px;
                            background: url(../img/lAndr.png) no-repeat;
                            background-size: 100% 100%;
                            background-position: -8px 1px;
                        }
                    }
                    .circleNav {
                        border-radius: 10px;
                        position: absolute;
                        #{$b}: 15px;
                        #{$l}: 50%;
                        @include h(13px);
                        text-align: center;
                        @include fontSize(0px);
                        margin-#{$l}: -39px;
                        background-color: rgba(255, 255, 255, .3);
                        li {
                            display: inline-block;
                            margin: 3px;
                            a {
                                display: block;
                                padding-#{$t}: 8px;
                                @include w(8px);
                                @include h(0px);
                                border-radius: 50%;
                                background: #fff;
                            }
                        }
                        .select a {
                            background: #ff5000;
                        }
                    }
                }
                .inner-bt {
                    @include w(520px);
                    @include h(230px);
                    .lb2 {
                        @include w(520px);
                        @include h(201px);
                        overflow: hidden;
                        position: relative;
                        .lunbo2 {
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            li {
                                @include float;
                                @include w(520px);
                            }
                        }
                        .lunbo2 a {
                            float: left;
                            margin-top: 6px;
                            width: 251px;
                            height: 190px;
                            overflow: hidden;
                            margin-left: 6px;
                            border-color: #ebebeb;
                            img {
                                @include w(100%);
                                @include h(100%);
                            }
                        }
                        .solidNav {
                            position: absolute;
                            top: 0px;
                            height: 3px;
                            line-height: 0;
                            width: 520px;
                            font-size: 0;
                            z-index: 9;
                            li {
                                display: inline-block;
                                width: 86px;
                                height: 3px;
                                background: #ff1648;
                                overflow: hidden;
                                margin: 0;
                                line-height: 0;
                                font-size: 0;
                            }
                            .selected {
                                background: #000;
                            }
                        }
                        .arrow2 a {
                            display: none;
                            @include w(20px);
                            @include h(30px);
                            @include lineH(30px);
                            @include color(#fff);
                            position: absolute;
                            #{$t}: 40%;
                            background-color: rgba(0, 0, 0, .3);
                        }
                        .arrow2 a:hover {
                            background-color: rgba(0, 0, 0, .5);
                        }
                        .arrow2-l {
                            border-#{$t}-#{$r}-radius: 15px;
                            border-#{$b}-#{$r}-radius: 15px;
                            background-clip: padding-box;
                            #{$l}: 0;
                            overflow: hidden;
                            display: none;
                            .l2 {
                                @include w(31.3px);
                                @include h(20px);
                                margin: 3px 0 0 -4px;
                                background: url(../img/lAndr.png) no-repeat;
                                background-size: 100% 100%;
                                background-position: 5px 1px;
                            }
                        }
                        .arrow2-r {
                            border-#{$t}-#{$l}-radius: 15px;
                            border-#{$b}-#{$l}-radius: 15px;
                            background-clip: padding-box;
                            #{$r}: 0;
                            overflow: hidden;
                            display: none;
                            .r2 {
                                @include w(31.3px);
                                @include h(20px);
                                margin: 3px 0 0 -4px;
                                background: url(../img/lAndr.png) no-repeat;
                                background-size: 100% 100%;
                                background-position: -8px 1px;
                            }
                        }
                    }
                    .head {
                        @include fontSize(14px);
                        padding-#{$t}: 11px;
                        position: relative;
                        .head-inner {
                            @include h(18px);
                            @include lineH(18px);
                            position: relative;
                            .head-bg {
                                @include w(136px);
                                @include h(19px);
                                position: absolute;
                                background-image: url(../img/tm.png);
                                background-repeat: no-repeat;
                                background-position: 2px 0;
                                background-size: 122px 22px;
                            }
                            em {
                                @include fontSize;
                                font-style: normal;
                                color: #666;
                                position: relative;
                                margin-#{$l}: 136px;
                            }
                            strong {
                                position: absolute;
                                #{$r}: 0;
                                font-family: sans-serif;
                                @include fontSize;
                                font-weight: 400;
                                i {
                                    font-style: normal;
                                    color: #ff1648;
                                }
                            }
                        }
                    }
                }
            }
            .inner-rt {
                margin-top: 10px;
                @include w(160px);
                @include h(512px);
                @include float;
                .hot {
                    margin-#{$t}: 1px;
                    @include h(230px);
                    span {
                        @include fontSize;
                        font-weight: 400;
                        background: #f1f1f1;
                        @include color(#a1a1a1);
                        @include lineH(24px);
                        padding-#{$t}: 6px;
                    }
                }
            }
        }
    }
    /* 右侧部分 */
    .box-right {
        @include w(290px);
        @include h(522px);
        @include float;
        .member {
            padding: 3px 0 2px 0;
            @include w(290px);
            @include h(132px);
            background: url(../img/bg.png) no-repeat;
            background-size: 290px 145px;
            .member-head {
                @include w(290px);
                @include h(91px);
                .head {
                    display: block;
                    margin: 0 auto;
                    @include w(56px);
                    @include h(56px);
                    .head-warp {
                        display: inline-block;
                        border: 3px solid #fff;
                        border-radius: 50%;
                        background-clip: padding-box;
                        @include w(50px);
                        @include h(50px);
                        @include lineH(50px);
                        overflow: hidden;
                    }
                }
                .hello {
                    display: inline-block;
                    @include w(290px);
                    @include h(17px);
                    @include lineH(17px);
                    @include fontSize;
                    columns: #3c3c3c;
                    text-align: center;
                }
                p {
                    @include h(17px);
                    @include lineH(17px);
                    text-align: center;
                    a {
                        display: inline-block;
                        @include w(72px);
                        @include h(17px);
                        @include lineH(17px);
                        border-radius: 6px;
                        background-color: #ffe4dc;
                        @include fontSize;
                        @include color(#f40);
                        padding-#{$l}: 20px;
                        padding-#{$r}: 8px;
                        position: relative;
                    }
                    span {
                        display: block;
                        @include w(16px);
                        @include h(16px);
                        position: absolute;
                        #{$t}: 0;
                        #{$l}: 0;
                        background: url(../img/jinbi.png);
                    }
                    .tb {
                        background: url(../img/jinbi.png) no-repeat;
                        background-size: 100% 100%;
                    }
                    .meb {
                        background: url(../img/huiyuan.png) no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
            .member-foot {
                @include w(290px);
                @include h(30px);
                padding-top: 10px;
                text-align: center;
                a {
                    display: inline-block;
                    @include w(75px);
                    @include h(25px);
                    @include lineH(25px);
                    text-align: center;
                    color: #fff;
                    margin: 0 6px;
                    @include fontSize(14px);
                    font-weight: 700;
                    border-radius: 6px;
                    background-image: linear-gradient(to right, #ff9900 0, #ff5500 100%);
                }
            }
        }
        .massage {
            background-color: #fff;
            a {
                display: inline-block;
                @include w(290px);
                @include h(65px);
                img {
                    @include w(290px);
                    @include h(65px);
                }
            }
        }
        .notice {
            @include w(290px);
            @include h(67px);
            padding-#{$t}: 10px;
            .title {
                @include w(270px);
                @include h(24px);
                padding-#{$l}: 20px;
                li {
                    @include float;
                    @include w(45px);
                    @include h(24px);
                    text-align: center;
                    margin-#{$r}: 6px;
                    a {
                        @include fontSize(13px);
                        color: #000;
                        @include lineH(24px);
                        padding: 0 2px;
                        font-weight: 900;
                    }
                    a.active {
                        border-bottom: 2px solid #ff5000;
                    }
                    a:hover {
                        @include color(#ff5500);
                    }
                }
            }
            .content {
                @include w(100%);
                padding: 9px;
                box-sizing: border-box;
                ul {
                    display: none;
                }
                li {
                    @include h(25px);
                    @include float;
                    padding-#{$r}: 3px;
                    a {
                        @include h(25px);
                        @include lineH(25px);
                        @include fontSize(13px);
                        color: #000;
                    }
                    a.active,
                    a:hover {
                        @include color(#ff5500);
                    }
                }
            }
        }
        .mobule {
            @include w(290px);
            @include h(155px);
            li {
                @include w(70px);
                @include h(72px);
                @include float;
                border: 1px solid #f4f4f4;
                a {
                    display: inline-block;
                    padding-#{$t}: 15px;
                    @include w(100%);
                    @include h(100%);
                    text-align: center;
                    box-sizing: border-box;
                    img {
                        @include w(24px);
                        @include h(24px);
                    }
                    p {
                        @include color(#000);
                        @include fontSize;
                    }
                }
            }
            li:hover {
                border: 1px solid #ff5500;
            }
            li:hover p {
                @include color(#ff5500);
            }
        }
        .app h3 {
            @include fontSize(14px);
            @include lineH(30px);
            padding-#{$l}: 10px;
            position: relative;
            .many {
                position: absolute;
                #{$r}: 20px;
                @include fontSize(13px);
                @include h(15px);
                @include color(#333);
                font-weight: 300;
            }
            .many:hover {
                @include color( #ff5000);
            }
        }
        .app li {
            @include float;
            @include w(32px);
            @include h(32px);
            margin: 10px;
            img {
                @include w(100%);
                @include h(100%);
            }
        }
    }
}