@mixin float($lr:left) {
    float: $lr
}

@mixin color($c:#f22e00) {
    color: $c;
}

@mixin lineH($lh:35px) {
    line-height: $lh
}

@mixin w($w:1190px) {
    width: $w
}

@mixin h($h:35px) {
    height: $h
}

@mixin fontSize($fs:12px) {
    font-size: $fs
}

nav {
    @include w(100%);
    @include h(30px);
    .screen-nav-warp {
        @include w(1190px);
        @include h(30px);
        background-image: linear-gradient(to right, #ff9900 0, #ff5500 100%);
        margin: 0 auto;
        h2 {
            @include w(190px);
            @include h(100%);
            color: #fff;
            @include fontSize(16px);
            text-align: center;
            background-color: #ff5000;
            @include lineH(30px);
            @include float;
        }
        ul {
            @include float;
            position: relative;
            li {
                @include float;
                margin: 0 4px;
                padding: 0 4px;
                position: relative;
                z-index: 40;
                a {
                    @include fontSize(16px);
                    color: #fff;
                    @include lineH(30px);
                    font-weight: 700;
                    position: relative;
                    div {
                        position: absolute;
                        left: 20%;
                        top: -35px;
                        @include w(30px);
                        @include h(30px);
                        overflow: hidden;
                    }
                    img {
                        display: none;
                        position: absolute;
                        left: 0px;
                        top: 13px;
                        z-index: -10;
                    }
                }
            }
            li :hover {
                img {
                    display: block;
                }
            }
        }
    }
}