$l:left;
$r:right;
$t:top;
$b:bottom;
@mixin float($lr:left) {
    float: $lr
}

@mixin color($c:#f22e00) {
    color: $c;
}

@mixin lineH($lh:35px) {
    line-height: $lh
}

@mixin w($w:1190px) {
    width: $w
}

@mixin h($h:35px) {
    height: $h
}

@mixin fontSize($fs:12px) {
    font-size: $fs
}

.search {
    background-color: #FFF;
    padding-top: 24px;
    @include h(97px);
    .search-warp {
        @include w(1190px);
        @include h(73px);
        margin: 0 auto;
        .logo {
            @include w(190px);
            @include h(80px);
            @include float;
            margin-top: 8px;
            h1 {
                position: relative;
                .logo-bd {
                    @include color(#3C3C3C);
                    display: block;
                    margin-#{$l}: 22px;
                    padding-#{$t}: 58px;
                    @include w(142px);
                    @include h(0px);
                    overflow: hidden;
                    text-indent: -9999px;
                    background: url(../img/logo.png) no-repeat 0 0;
                }
            }
        }
        .search-box {
            @include float;
            @include w(627px);
            @include h(87px);
            margin-#{$l}: 50px;
            .search-t {
                @include w(627px);
                @include h(62px);
                .select {
                    @include h(22px);
                    margin-#{$l}: 17px;
                    ul li {
                        @include float;
                        @include w(36px);
                        @include h(22px);
                        @include color(#f40);
                        @include fontSize;
                        @include lineH(22px);
                        text-align: center;
                        margin-#{$r}: 4px;
                        border-#{$t}-#{$r}-radius: 6px;
                        border-#{$t}-#{$l}-radius: 6px;
                        cursor: pointer;
                    }
                    .current {
                        background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
                        @include color(#fff);
                        font-weight: 700;
                    }
                }
                .search-mian {
                    position: relative;
                    @include w(627px);
                    @include h(40px);
                    .btn {
                        @include w(74px);
                        @include h(40px);
                        position: absolute;
                        #{$r}: 0;
                        #{$t}: 0;
                        border-#{$b}-#{$r}-radius: 20px;
                        border-#{$t}-#{$r}-radius: 20px;
                        overflow: hidden;
                        .submit {
                            @include w(100%);
                            @include h(100%);
                            background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
                            border: none;
                            @include color(#fff);
                            @include fontSize(18px);
                            cursor: pointer;
                            font-weight: 700;
                        }
                    }
                    .search-inp-box {
                        @include w(551px);
                        @include h(36px);
                        border: 2px solid #ff5000;
                        border-#{$t}-#{$r}-radius: 20px;
                        border-#{$b}-#{$r}-radius: 20px;
                        .search-inp {
                            @include w(472px);
                            @include h(36px);
                            @include lineH(36px);
                            padding-#{$l}: 5px;
                            input {
                                @include w(472px);
                                @include h(24px);
                                padding-#{$l}: 5px;
                                text-indent: 1em;
                                border: none;
                                outline: none;
                            }
                        }
                    }
                }
            }
            .search-b {
                @include w(627px);
                @include h(20px);
                a {
                    margin-#{$l}: 8px;
                    @include fontSize;
                    color: #666;
                }
                a.active,
                a:hover {
                    @include color( #ff5500);
                }
            }
        }
        .ewm-box {
            @include w(76px);
            @include h(90px);
            @include float;
            margin-#{$l}: 120px;
            position: relative;
            .phone {
                @include color( #ff5000);
                @include fontSize;
                @include lineH(20px);
                margin-#{$l}: 12px;
            }
            .ewm {
                @include w(62px);
                @include h(62px);
                display: inline-block;
                background: url(../img/ma.png)no-repeat;
                background-size: 100% 100%;
                margin-#{$l}: 6px;
            }
            .xh {
                position: absolute;
                @include w(16px);
                @include h(16px);
                @include color(#ddd);
                @include fontSize;
                text-align: center;
                border: 1px solid #eee;
                #{$t}: 0;
                #{$l}: -18px;
            }
        }
    }
}